<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Web Audio Keynote</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/eighties.css">
  <!-- <link rel="stylesheet" href="assets/audio.css"> -->
  <script src="reveal/js/reveal.js"></script>


  <style type="text/css">
    .reveal h3 a {color:#8c4c6f;}
    .reveal h3 a:hover {color:#acc486;}
    .reveal h3 a:visited {color:#8c4c6f;}
    .reveal blockquote {width: 100%;}
  </style>

</head>

<!--

$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$brown: #463c34
$cream: #eee5c4

$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f">
          <h1>Web Audio Conf 2018</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
            <p>Hey everyone. Web Audio Conf! What a stage. Bet you're wondering who I am:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>My name is Ruth</p>
            <p>You may know me from such places as...</p>
          </aside>
        </section>

        <!-- TODO ADD PLACES -->
        <section data-background-color="#8c4c6f" data-background-image="media/slack.png">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>When I asked about IIR Filters in web audio slack</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/keyring.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Or that time I laser cut a bazillion web audio keyrings and took a photo</p>
            <p>Yes I have some with me - and yes I will get back to this...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;m opening <a href="https://twitter.com/WebAudioConf?ref_src=twsrc%5Etfw">@WebAudioConf</a> next wednesday morning<br><br>I am not scared at _all_<br><br>I&#39;m mostly laser cutting tape cassettes 🤷🏻‍♀️📼<a href="https://t.co/2izrnF5ZV9">https://t.co/2izrnF5ZV9</a></p>&mdash; Ruth John (@Rumyra) <a href="https://twitter.com/Rumyra/status/1040580396705095681?ref_src=twsrc%5Etfw">September 14, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <aside class="notes">
            <p>Maybe that time</p>
            <p>We have an hour</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Because of these wonderful credentials that I have, Jack and Jan asked me to talk here last year. And I thought yeh sure - that gives me a whole year to think of something great to talk about.</p>
            <p>And it got to July and I was having coffee with Chris Wilson and he'll tell you, I had no idea</p>
            <p>I thought 'hey it's web audio conf' maybe I should talk about the web audio API - let's see what other people are talking about</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/chrisRogers.jpg">
          <h1>Chris Rogers</h1>
          <p>Wrote original spec</p>
          <aside class="notes">
            <p>Um</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/paulAdenot.jpg">
          <h1>Paul Adenot</h1>
          <p>Writing current spec</p>
          <aside class="notes">
            <p>Huh</p>
            <p>OK well, um I can talk about what I do, which is mostly draw shapes to sound</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/livejs.jpg">
          <h1>livejs.network</h1>
          <aside class="notes">
            <p>Alright ok, there's only one thing for it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/vizTalks.jpg">
          <h1>Visualisations?</h1>
          <aside class="notes">
            <p>Alright ok, there's only one thing for it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Well...</h1>
          <h2>Thanks for having me! 👋🏻</h2>
          <aside class="notes">
            <p>Well thanks for having me - my work here is done.</p>
          </aside>
        </section>

        <!-- IS WEB AUDIO CONF 5 YEARS OLD? -->
        <section data-background-color="#8c4c6f" data-background-image="media/1718.jpg">
          <h1>Web Audio API</h1>
          <h1>What a year!</h1>
          <h2 class="fragment fade-in">Audio Worklets</h2>
          <aside class="notes">
            <p>I am going to say one thing about web audio api. What a year!</p>
            <p>I remember talking to my good friend Matt McKegg after last years conf - I wasn't here - and it was all audio worklets and everyone was super excited</p>
            <p>How long were we waiting?</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/workletEdit.jpg">
          <h1>Worklet Editor by Cristiano Belloni</h1>
          <h3><a href="https://dsp.audio/editor/">dsp.audio/editor/</a></h3>
          <aside class="notes">
            <p>If you haven't had a play with worklets yet - I still haven't! There's a great online editor by Christiano Belloni online.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/1718.jpg">
          <h1>Web Audio API</h1>
          <h1>What a year!</h1>
          <h2>Audio Worklets</h2>
          <h2 class="fragment fade-in">Web Assembly</h2>
          <aside class="notes">
            <p>Web Assembly has really taken off in the last 12 months, which isn't strictly audio, but kinda super interesting. We've got some stuff coming up about it</p>
            <p>And it gives us the ability to do things like this</p>
          </aside>
        </section>


        <!-- TODO GET SCREENSHOT & NAME -->
        <section data-background-color="#8c4c6f" data-background-image="media/europa.jpg">
          <h1>Europa by Propellerheads</h1>
          <aside class="notes">
            <p>Propellerheads ported their Europa synth to the browser using web assembly - which is pretty crazy.</p>
            <p>Reason</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/1718.jpg">
          <h1>Web Audio API</h1>
          <h1>What a year!</h1>
          <h2>Audio Worklets</h2>
          <h2>Web Assembly</h2>
          <h2 class="fragment fade-in">The Policy™</h2>
          <aside class="notes">
            <p>So April was a big month</p>
            <p>I have to say I was slightly distracted. You see in April I got a laser cutter. So things were happening... then at the beginning of May I attended Google IO</p>
          </aside>
        </section>

        <!-- TODO PUT FIRE HERE -->
        <section data-background-color="#8c4c6f" data-background-image="media/fire.webp">
          <h1>The Policy™</h1>
          <aside class="notes">
            <p>Everyone was talking about the policy!</p>
            <p>In fact I'm pretty talked _out_ of the policy</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/1718.jpg">
          <h1>Web Audio API</h1>
          <h2>What a year!</h2>
          <h3>Audio Worklets</h3>
          <h3>Web Assembly</h3>
          <h3>The Policy™</h3>
          <h3 class="fragment fade-in">IIR Filters</h3>
          <aside class="notes">
            <p>I've been knee - shoulder deep in the spec for the past few weeks as I've been helping mozilla update the mdn docs.</p>
            <p>Infinite Impulse Response</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/iir.png">
          <h1>IIR Filter Demo</h1>
          <aside class="notes">
            <p>I wrote a demo! And some stuff - which'll be released on mdn soon</p>
            <p>watch this space</p>
            <p>Paul will take us through it all tomorrow, but it's so great to see things progressing</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>We're moving forward</h1>
          <aside class="notes">
            <p>We have to keep tech moving forward</p>
            <p>I think about all the things we got with the web audio api and I think how could we ever need more and then we get it and well that's super cool</p>
            <p>I've been thinking about this a lot recently - how things move on</p>
            <p>One thing that's made me think about it more, possibly due to my age, I dunno...</p>
            <p>We live in a world of digital - if we didn't we'd still be listening to audio on these</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/wax.jpg">
          <h1>Wax Cylinders</h1>
          <aside class="notes">
            <p>In 1877 Thomas Edison wrapped tin foil around a cylinder. The phonograph was born. The first device to reproduce recorded sound.</p>
            <p>It was improved by ALexander Graham Bell's Volta Labratory and wax cylinders became the distributed audio format.</p>
            <p>See that's a great quiz question everyone in this room can answer - what's the connection between the telephone and the light bulb.</p>
            <p>Playback piano roll</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Phonautograph</h1>
          <blockquote>
            <q>Nearly 150 years after they had been recorded, promising specimens of Scott de Martinville's phonautograms, ... were located by American audio historians. ... In 2008, the team played back the recordings as sound for the first time. Modern computer-based image processing methods were used to accomplish the playback. ... generally available image-editing and image-to-sound conversion software, requiring only a high-quality scan of the phonautogram and an ordinary personal computer, were found to be sufficient for this application.</q>
            <cite>https://en.wikipedia.org/wiki/Phonautograph</cite>
          </blockquote>
          <aside class="notes">
            <p>Phonautograph of course being the recording of sound, as a line on smoke blackened paper or glass</p>
            <p>Now you couldn't play it back - which was the opposite of the paper format - the piano roll or music box. Where you could play back but you weren't strictly recording the audio.</p>
            <p>But this quote I really luv:</p>
            <p>interesting</p>
            <p>In the 1890's Emile Berliner transited from cylinders to flat discs and the gramophone was born.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/lp.jpg">
          <h1>LP</h1>
          <aside class="notes">
            <p>You could do a whole talk about this format, the size 12", 10", 7", the speed 33 1/3 rpm, 45 rpm, if you keep a vinyl in the right conditions it'll last for ever.</p>
            <p>This I do remember</p>
            <p>One thing that's made me think of it more is how much I miss physical formats. Now I'm sure there's a great deal of people in this room still big into their physical formats for audio.</p>
            <p>However I gave this up a while ago. And it was only recently did I start thinking about it again.</p>
            <p>This was my first experience of music. Routing through these old battered cardboard boxes. Repeat playing one track I liked. Kids are insatiable huh, repeating things over and over and never getting bored - I mean they can actualy complete donkey kong</p>
            <p>I was talking to my mum about this - she said what did you play on repeat, and I just answered D I S C O</p>
            <p>She said - we didn't own that - we were cool</p>
            <p>But this wasn't my favourite format. I know - controversial</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/tape.jpg">
          <h1>Tape Cassette</h1>
          <aside class="notes">
            <p>This - this is my ultimate format.</p>
            <p>I remember having a walkman - which went through batteries like a walkman goes through batteries.</p>
            <p>I begged my mother for my own stereo when I was about 11. I had my first single - Warren G & Nate Dog Regulate 99p Ourprice. There are reasons why all formats are good, but this one is my format.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/rap.jpg">
          <h1>Pencil, ruler, tape</h1>
          <aside class="notes">
            <p>I mean is there any other way of listening to audio that whne it breaks you can fix it with items in your pencil case. And yes - I have sticky tape with me. Right now!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/tape.mp4">
          <h1>Ritual</h1>
          <aside class="notes">
            <p>It's the ritual of these formats tho isn't it. Taking them out of the case. Opening the carridge drawer, sliding the cassette it. Pushing down on that play button.</p>
            <p>It's so satisfying</p>
            <p>Understanding and how to use sony walkman cassette</p>
            <p>Play, pause, stop, fast forward, reqind, record - hey you got to press two buttons.</p>
            <p>You could stick sticky tape over the ends of old tapes and record whatever you wanted off the radio! I was 12 and I was curating mix tapes</p>
            <p>There were other formats that allowed this...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/minidisc.jpg">
          <h1>Minidisc</h1>
          <aside class="notes">
            <p>Minidiscs</p>
            <p>Now I'm sure if I'd had the funds I would have got into mini disks - they were more compact.</p>
            <p>Luckily I could only afford one, and that was for when I studied Music Technology at college and the track I composed and recorded in a studio was mixed down to it. I still have it and am I glad I have nothing to play it on! No one needs to hear that. I was listening to a lot of garbage at college - I mean the band garbage</p>
            <p>I'm sure everyone who's an audiophile felt this at least a little bit for minidisc - it was probably the greatest format</p>
          </aside>
        </section>

        <!-- laser disk clip -->
        <section data-background-color="#8c4c6f" data-background-image="media/ice.jpg">
          <h1>CD</h1>
          <aside class="notes">
            <p>By this time I could drive and I mean I never had a car with anything apart from a tape player. Cars with CD players were - well posh</p>
            <p>And it wasn't too soon that I got one of these...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/mp3.jpg">
          <h1>MP3 player</h1>
          <aside class="notes">
            <p>..anyway</p>
            <p>OK it wasn't one of these it was a cheap knock off - it held 128mb - not quite an album - it didn't last long before I got an ipod</p>
            <p>And we all know, if you wan to listen to one of those in the car, you need one of these...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/adaptor.jpg">
          <h1>Tapes!</h1>
          <aside class="notes">
            <p>By this time I could drive and I mean I never had a car with anything apart from a tape player. Cars with CD players were - well posh.</p>
            <p>Tapes everyone</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/winamp.jpg">
          <h1>Digital</h1>
          <aside class="notes">
            <p>And that was it - we had digital audio</p>
            <p>And I hit uni and we all hit napster. But we were still sharing music with each other. Making winamp playlists. Even those of us with shiny ipods.</p>
            <p>We passed around our files, we played them on our mp3 players and computers</p>
            <p>TECHNO</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <aside class="notes">
            <p>And then there was a huge gap, I felt I lost my way. I had my mp3 collection and that was that. All that happened when streaming came around was I collated all the mp3s in my already collection that was sitting around random dusty hard drives.</p>
          </aside>
        </section>

        <!-- <section data-background-color="#8c4c6f">
          <h1>Sharing</h1>
          <aside class="notes">
            <p>The thing about a physical format is you can give it to someone. Streaming open up a whole new world for us and yet no one gave me music.</p>
            <p>The other thing is curation - people recommend me artists now, rather than give me a few songs which are the best of from different artists</p>
            <p>I have spoke about this with a number of friends recently and one of them looked so sad and just said. Yes it used to be my favourite thing to give to a girl I fancied. I would just make them a mix CD. I mean I was like CD? Give me a tape bucko. But I got his point.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Muxtape</h1>
          <aside class="notes">
            <p>And people have tried this. There have been a few apps trying to emulate the old mix tape by curating a streamable playlist which you can share with a significant other. However they've never caught on. We're just too ok with everything on demand.</p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f" data-background-image="media/phone.jpg">
          <h1>Phone</h1>
          <aside class="notes">
            <p>(PHONE) this, this is our player now. This our stereo, this is our boombox. I mean god forbid the next time I take a train journey and someone is blasting out trap on this, I am actually going to carry on my boombox and pop in a tape cassette and even with its dodgy speakers strut down the ilse and find the (person who is doing it) and do an english glare, maybe even a shake.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/phone.jpg">
          <h1>Phone</h1>
          <aside class="notes">
            <p>This format tho - it's the crux of it really. It's not just sound it plays, it plays apps, it plays the browser - all our devices have that capability - we all well aware of that.</p>
            <p>This isn't a new concept, it's common and gaining in popularity. The term generative art has exploded over the past twelve months I feel.</p>
            <p>Three people I know all just casually, as a hobby, created browser based "apps" that played imagery - just like the phonautograph</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Jake Albaugh</h1>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Made this thing last night that uses the hue of your webcam to change the chord of an arpeggiator.<a href="https://t.co/ajMlhdmzDl">https://t.co/ajMlhdmzDl</a> <a href="https://t.co/bq0zq6wvRB">pic.twitter.com/bq0zq6wvRB</a></p>&mdash; jake albaugh (@jake_albaugh) <a href="https://twitter.com/jake_albaugh/status/978733510017126400?ref_src=twsrc%5Etfw">March 27, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/ben.jpg">
          <h1>Ben Foxall</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Remy Sharp</h1>
          <aside class="notes">
            <p>And Remy Sharp did a talk at JSConfEU earlier this year where he replicated a ZX Spectrum game loading with javascript</p>
            <p>When a ZX Spectrum loads it passes the visual data it has as sounds</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/remy.mp4">
          <h1>Remy Sharp</h1>
          <aside class="notes">
            <p>And Remy Sharp did a talk at JSConfEU earlier this year where he replicated a ZX Spectrum game loading with javascript</p>
            <p>When a ZX Spectrum loads it passes the visual data it has as sounds</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/remy.jpg">
          <h1>Tapes!!</h1>
          <aside class="notes">
            <p>Also a ZX spectrum uses tape, so that's double cool...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>So... 🤔</h1>
          <aside class="notes">
            <p>So all of this got me thinking</p>
            <p>I miss physical formats</p>
            <p>I have a laser cutter</p>
            <p>I have a player</p>
            <p>Could I cut an audio format</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/laserCutter.mp4">
          <h1>The Laser Cutter</h1>
          <aside class="notes">
            <p>It's awesome. It's a 'desktop' laser cutter. It fills my studio. You hook it up to your wifi, draw an svg in the software and it will cut it, or engrave it. It's super the most fun ever. I have a lot of toys and this is surely my favourite at the moment. (Wait until I get a MIDI fighter and ask me again).</p>
            <p>Now before you do something you should check your idea hasn't been done before... and it has</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/laserlp.mp4">
          <h1>Wood LP</h1>
          <aside class="notes">
            <p>Someone did this</p>
            <p>Amanda Ghassaei laser cut an LP and played it back - she even wrote an instructable on how to do this.</p>
            <p>It's amazing - but this isn't my playing - _this_ is my player</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <aside class="notes">
            <p>So I began experimenting. I wasn't too sure what I was trying to start with. There's a couple of stems I can go down. The first is cutting something that plays.</p>
            <p>The laser cutter can engrave. You can engrave at different levels, so you get different 'tones' on a material. Light or dark. They could represent different notes. Possibly different tracks.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/wood.jpg">
          <h1>Instruments</h1>
          <aside class="notes">
            <p>I cut two instruments, a drum machine and a synth.</p>
            <p>Mow all I had to do was make them play</p>
            <p>My vision was a scrubber that moved along the instrument and when it hit the keys or the pads it would 'play' them.</p>
            <p>Now I hadn't done much with canvas image data before so I enlisted the help of Ben who had made the sounds of things app. And within 20 minutes he had done this:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Demo</h1>
          <aside class="notes">
            <p>He just picking up on the rgb values and then piping them back out, so where the r is bigger it has more width and I couldn't help but think - well that looks like a spectrum...</p>
            <p>So I went this that</p>
            <p>What sound does red make</p>
            <p>What are you going to do first thing on a wednesday morning at an audio conference Ruth</p>
          </aside>
        </section>

        <!-- <section data-background-color="#8c4c6f">
          <h1>Drum machine v2</h1>
          <aside class="notes">
            <p>demo</p>
            <p>Awesome... I mean I can move this on and we can detect anything in this image and create proper sounds and play it.</p>
            <p>We don't need to laser cut any instruments, we could just draw them</p>
            <!-- <p>Again not a new concept</p> -->
<!--           </aside>
        </section> -->
        <!-- <section data-background-color="#8c4c6f">
          <h1>Dynamic Land</h1>
          <aside class="notes">
            <p>Both dynamic land</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>paper.js</h1>
          <aside class="notes">
            <p>And paper js - use the idea of physical objects being detected, computed, but with the added </p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f">
          <h1>Not a format</h1>
          <aside class="notes">
            <p>But this is not a format, it's an instrument. I was looking to create an audio format. Something I could physically give to someone that they could play.</p>
            <p>I miss the mix tape</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Mix Tape</h1>
          <aside class="notes">
            <p>One of the reasons I felt nostagic about physical formats, was because I missed someone recommending me music.</p>
            <p>People are doing it to me now I ask, but sharing music has changed somewhat - recommendation playlists don't take into account something I had never thought of, which someone else might think of</p>
            <p>Also I thought about this recently, I have been asking a lot this year and people recemmend me artists, a mix tape was the best of lots of artists.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/muxtape.jpg">
          <h1>Mux Tape</h1>
          <aside class="notes">
            <p>People have tried to recreate this digitally, but have never really been successful</p>
            <p>Muxtape - a service where you put a playlist together and send it to someone</p>
            <p>There was muxtape - not available</p>
            <p>There was seeqpod - not available</p>
            <p>There is opentape - available but not maintained</p>
            <p>There is 8tracks - but I can't see what that offers over any of the streaming services</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/cuts.jpg">
          <h1>Laser Cut Formats</h1>
          <aside class="notes">
            <p>So - I laser cut all those old formats</p>
            <p>Now these I can give to people</p>
            <p>The application has changed, I give someone my format and they can use the application to detect the format and it will play them a curated mix of tracks, from me to them.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/cuts.jpg">
          <h1>Pick a format</h1>
          <h3>LP</h3>
          <h3>Tape</h3>
          <h3>CD</h3>
          <h3>minidisc</h3>
          <h3>iPod (digital)</h3>
          <aside class="notes">
            <p>Now these I can give to people</p>
            <p>The application has changed, I give someone my format and they can use the application to detect the format and it will play them a curated mix of tracks, from me to them.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Demo</h1>
          <aside class="notes">
            <p>You can't stop it</p>
            <p>This is what I call the tape play policy</p>
            <p>Oh wait I can lower the volume</p>
            <p>Oh wait I can mute it</p>
            <p>Oh wait I can close the tab</p>
            <p>Oh wait I can throw my device into the sea!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Tape Play Policy™</h1>
          <aside class="notes">
            <p>You couldn't easily skip a tape.</p>
            <p>Sure there were clever stereos that could find gap in teh tape and stop, but I'm poor remember</p>
            <p>If you didn't like a song, you would fast forward, not enough, do it again, too much, rewind - I mean just play the freakin track already</p>
            <p>This wasn't a bad thing - it forced you to listen to new music.</p>
            <p>You were shown new things, better educated, a more well rounded individual.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/cutsette.jpg">
          <h1>Laser Cutsette</h1>
          <aside class="notes">
            <p>There's so much more I can do around this. I want other people to make one of these and put their mix tapes on them and give them back to me</p>
            <p>But that's an application</p>
            <p>And it's a physical format - so how does it degrade, what happens when it gets chwed up or warped. We don't get that so much these days...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/warp.jpg">
          <h1>Milan Knizak</h1>
          <aside class="notes">
            <p>Milan Knizak (Performance artist from the 60's) whole thing was damaging records in a number of ways:</p>
            <p>burnt them, cut them, put tape on them, stuck them back together, put them in the toaster... and played them when they were done.</p>
            <p>You can't fix vinyl once it's broken</p>
            <p>Everything plays differently after it's broken...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/54.jpg">
          <h1>Destroying digital data</h1>
          <aside class="notes">
            <p>How do we do that with a digital format?</p>
            <p>This is actually pretty diificult - I mean it was easy with this</p>
            <p>the DoD (department of defense) security-standard says overwriting 7 or so times with random data makes even the most advanced techniques unusable</p>
            <p>And then what would it be like it we mutated the data we're piping into something like the web audio api?</p>
            <p>And what about data backup?</p>
            <p>One of the ways to backup data is to use magnetic tape</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/notape.jpg">
          <h1>Tape Shortage</h1>
          <aside class="notes">
            <p>We're running out of magnetic tape</p>
            <p>In December 2016 there was a world wide sortage of magnetic tape! It's ok the simpsons are on it apparently - which is good because</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/discog.jpg">
          <blockquote><q>...cassettes have seen the most
growth in sales orders (+35.19%)...</q></blockquote>
          <aside class="notes">
            <p>cassette orders went up 35%</p>
            <p>Tape cassette sales went up 8% in the last 6 months</p>
            <p>But we're not going to have any magnetic tape to put in them</p>
            <p>Consumer cassette sales themselves have gone up just under 9%.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/waveform.jpg">
          <h1>Digital formats</h1>
          <aside class="notes">
            <p>Digital formats by and large are better. We have more control over the format if nothing else</p>
            <p>They have changed the world - just like LPs did</p>
            <p>They have changed the way we consume sound, the way we experience and share sound, the way everyone in this room creates sound. And that is great, even if I get nostalgic.</p>
            <p>They have given us the web audio api which is why we are all sat in this room together today</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/waveform.jpg">
          <h1>Web & Internet</h1>
          <aside class="notes">
            <p>The Web & Internet have changed the world - the way we share information has changed - the way we share music has changed.</p>
            <p>We have to find a way to keep sharing, to keep talking, to keep moving forward.</p>
            <p>The last 6 months have shown us that we're not communicating well</p>
            <p>We don't want to have something as wonderful as the minidisc and loose it.</p>
            <p>Let's not be that format</p>
            <p>We're all aware native apps are the game cartridges - I dare say tape cassettes of today, without something to play them on, as a format they will die. I don't believe the web format will die but it is going to change, and is all this stuff ready - is the autoplay policy going to be relevant in 5 years?</p>
            <p>XR glasses</p>
            <p>Are we going to need it because the way in which we're consuming the web has changed?</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <blockquote style="border-bottom: 1px solid white;"><q>...punks trying to get sounds working across browsers.</q></blockquote>
          <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">I&#39;m trying to tweet a question about the WebAudio API, and Twitter keeps thinking it&#39;s spam. I&#39;m so glad we&#39;re finally focusing on the real problem, punks trying to get sounds working across browsers. 🙄<br><br>(but also, pls read this image and halp? 🙏) <a href="https://t.co/rYmYTqVNsb">pic.twitter.com/rYmYTqVNsb</a></p>&mdash; Monica Dinculescu (@notwaldorf) <a href="https://twitter.com/notwaldorf/status/1040295862675464193?ref_src=twsrc%5Etfw">September 13, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <aside class="notes">
            <p>If we can make it easy to use the web audio api for everyone who is not here... I think we win</p>
          </aside>
        </section>



        <!-- I want to discover more music - I want to be able to give someone something and someone to give it back to me

        The format has to be programmable - so I am yet to do that -->

        <!-- data - interweave of digital image & sound vice versa

        Floppy disc - digital vs analogue

        Destruction of data - lps destroyed, how do you destroy digital data

        personalisation of data. There's loads of that around, controversial or not.

        Lifetime



        We have to make this work agnostically - cross browser... we have to see what's coming



        Oh and please - share your music with me -->

        <section data-background-color="#8c4c6f" data-background-image="media/keyring.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Thank you!</p>
          <aside class="notes">
            <p>Thank you very much for letting me talk to you about the Web Audio API</p>
            <p>I have been Ruth, I am approachable so you can come and talk to me. I have keyrings which I will exchange for money, exciting job contracts, food or alcohol.</p>
            <p>If you would be so kind I have an article about web audio best practises to write, so if you think you have something to say about that tweet me or tell me - I will make notes. Also browser bugs are included in that.</p>
            <p>We all have to do something, and that is when you are chatting to that stranger next to you when you go and get coffee, now and beer later, if you have to ask them what they are listening to. Because they are going to give you something new and different to take away.</p>
          </aside>
        </section>


<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="scripts/init.js"></script>

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</script>


</body>
</html>